<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <% if not user_signed_in? then %>
    <li><a href="users/sign_in">Login</a></li>
    <li><a href="users/sign_up">Register</a></li>
    <% else %>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</div>
